@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}